.jewelry-img img {
   width: 300px;
   display: inline-block;
   padding-right: 40px;
   padding-left: 76px;
   padding-bottom: 150px;
}

.jewelry-images .jewelry-img{
    margin-top: 150px;
    display: inline-block;
}

/* .jewelry-images {
    height: 90px;
} */

div.align-center {
    margin: 0px auto;
}

.jewelry-form {
    display: none;
    position: fixed;
    margin-top: 20px;
    border-radius: 25px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#jewelry-form {
    background-color: white;
    text-align: center;
}

input {
    margin-top: 12px;
}

ul#jewelry-list li {
    display: inline-block;
    padding: 30px;
}

ul#jewelry-list {
    width: 95%;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

ul div.product {
    padding: 20px;
    width: 300px;
    text-align: center;
    border: groove;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

::marker {
    color: white;
}

div#main {
    display: none;
} 

div#login-signup {
    display: block;
    text-align: center;
    margin-top: 100px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img#cart-img {
    max-width: 3%;
    margin:50px ;
    float: right;
    top:-40px;
} 

/* .nav-element {
    padding-left: 20px;
} */

.navbar .nav > li > a {
    float: none;
    padding: 10px 15px 10px;
    color: #940909;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.navbar {
    background: rgb(47, 204, 139);
    position: fixed;
    z-index: 1;
    margin-bottom: 10px;
    top: 0;
    width: 100%;
}

.top {
    margin-left: -8px;
    background-color: rgb(47, 204, 139);;
}

/* .nav {
    margin-bottom: 10px;
    margin-left: 0;
    list-style: none;
} */

/* .nav > li > a {
    padding-top: 04%;
    display: inline;
} */

.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px -20px 0;
}

.navbar .nav > li {
    display: inline-block;
    text-align: center;
    margin-top: 45px;
    border-radius: 80px;
}
.navbar .brand {
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
    white-space: nowrap;
    text-decoration: none;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}